<h1>Category Index</h1>
<%= link_to 'Create New Category', new_category_path %>
<br>
<br>
<ul>
  <% @categories.each do |category| %>
  <li>
    <%= link_to "#{category.title}", category_path(category) %>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Delete', category_path(category), method: :delete %>
  </li>
<% end %>
</ul>
